<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=arepas.name%> Detail</h1>
    
    <form action="/arepas/<%= arepas._id %>?_method=PUT" method="POST" >
        <label for="name"> Name</label><br>
        <input type="text" id="name" name="name" value="<%= arepas.name %> "><br>
        <label for="image">Image</label><br>
        <input type="text" id="image" name="image" value="<%= arepas.image %> ">
        <input type="submit" value="Edit">
    </form>
    <h4>Ingredients</h4>
    <ul>
        <% arepas.ingredients.forEach(ing => { %>
         <li>
           <%= ing.name %>
           <form action="/arepas/<%=ing._id%>/<%=arepas._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
          </form>
          </li>
        <% }) %>
    </ul>
</body>
</html>