<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arepa</title>
</head>
<body>
    <h4> <%=arepas.name%> </h4>
    <a href="/arepas">Return to Arepas</a>
    
    <ul>
        <% arepas.ingredients.forEach(ing => { %>
         <li>
           <%= ing.name %>
          </li>
        <% }) %>
      </ul>
      <img src="/image/<%=arepas.image%>" height="200px" width='300px'> 
      
      <form action="/arepas/<%= arepas.id %>/ingredients?_method=PUT"
        method="POST">
        <% ingredients.forEach(ing => { %>
        <input type="checkbox" name="ingredientId" value="<%= ing.id %>" />
        <label for="<%= ing.name %>"><%= ing.name %></label><br />
        <% })%>
        <input type="submit" value="Add Ingredients" />
    </form>
</body>
</body>
</html>